@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #222326;
}

h1 {
    font-family: 'Circular';
    font-size: 48px;
    font-weight: bold;
    color: white;
}

h2 {
    font-family: 'Circular';
    font-size: 32px;
    font-weight: bold;
    color: white;
}

p {
    font-family: 'Circular';
    font-size: 18px;
    color: white;
}

ol {
    list-style: auto;
}

@font-face {
    font-family: "Circular";
    src: url("./assets/fonts/CircularStd-Book.woff2") format('woff2');
}